<!DOCTYPE html>
<html>

<head>
  <title>Etusivu</title>
</head>

<body>
  <div>
    <h1>Etusivu</h1>
    {% if not session.username %}
    <button onclick="window.location='/register'">Register now!</button>
    <button onclick="window.location='/login'">Login</button>
    {% else %}
    <p>Kirjauduttu sisään käyttäjällä {{ session.username }}</p>
    <button onclick="window.location='/user/{{ session.userid }}'">Go to userpage</button>
    {% endif %}
  </div>
</body>

</html>