{% extends 'base.html' %}

{% block title %}Käyttäjän luonti{% endblock %}

{% block content %}
    <div>
        <form action="/register" method="POST">
            <label for="username">Käyttäjänimi:</label>
            <input type="text" name="username" id="username" required>
            <br><br>

            <label for="password">Salasana:</label>
            <input type="password" id="password" name="password" required>
            <br><br>

            <input type="submit" value="Luo käyttäjä">
        </form>
    </div>
    <div>
        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
    </div>
{% endblock %}