body {
    font-family: "Anonymous Pro", monospace;
    font-size: 1.2em;
    font-weight: 400;
    font-style: normal;
    background-color: #000000; /* Light gray background */
    color: white;
    background-image: url('../images/background.png');
    background-repeat: repeat; /* Tile the background image */
    background-attachment: fixed; /* Allow the background image to scroll with the content */
    background-size: auto; 
}



nav {
    background-color: rgb(70, 70, 70); /* Background color of the nav */
    padding: 20px; /* Padding around the nav */
    border-radius: 4px;
    margin-bottom: 10px;
    margin: 20px;
}

nav ul {
    display: flex; /* Use flexbox layout */
    justify-content: space-between; /* Space between items */
    align-items: center; /* Center items vertically */
    list-style-type: none; /* Remove bullet points */
    margin: 0;
    margin-right: 20px; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

nav ul li {
    margin-left: 20px; /* Space between items */
}

nav ul li a#logout {
    color: red;
}

nav ul li a {
    color: white; /* Text color */
    text-decoration: none; /* Remove underline */
    padding: 8px;
    background-color: rgb(133, 133, 133);
    border-radius: 3px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    transition: padding 0.3s;;
}
nav ul li a:hover {
    background-color: lightgrey; /* Change background on hover */
    color: black; /* Change text color on hover */
    padding: 10px;
}
/* Optional: Style for the home button */
li#home {
    margin-right: auto; /* Pushes the rest of the items to the right */
    font-size: 2em;

}

a#post {
    text-decoration: none;
    color: white;

}

div div#post-actions {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    margin-top: 20px;
}

a#delete {
    text-decoration: none;
    padding: 3px;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

a#edit {
    text-decoration: none;
    padding: 3px;
    border-radius: 3px;
    background-color: rgb(90, 90, 90);
    color: rgb(232, 232, 232);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

div.post {
    padding: 30px;
    border: 5px;
    border-color: whitesmoke;
    border-radius: 3px;
    border-style: solid;
    margin: 20px;
    background-image: url('../images/postbackground.png');
    background-size: auto;
    background-color: #000000;
}

div#post-page {
    padding: 30px;
    border: 5px;
    border-color: whitesmoke;
    border-radius: 3px;
    border-style: solid;
    margin: 20px;
}

header#header {
    margin-bottom: 20px; /* Space below the header */
}

div#container {
    display: flex;
    justify-content: center; /* Center the container horizontally */
    align-items: center; /* Center the container vertically */
    height: 80vh; /* Set a height for vertical centering */
}

div#login-form {
    background-color: #2e2e2e;
    padding: 20px;
    border-radius: 9px;
    width: 500px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto; /* Center the form horizontally */

}

form#login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

label#username, label#password {
    font-size: 25px;
    margin-bottom: 5px;
}

form#login-form input[type="text"], form#login-form input[type="password"] {
    width: max-content;
    padding: 10px;
    margin-bottom: 15px;
    border: solid;
    border-color: rgb(29, 29, 29);
    border-radius: 4px;
    background-color: #646464;
}

form input[type="submit"] {
    width: fit-content;
    padding: 10px;
    background-color: #acacac; /* Green background */
    color: white; /* White text */
    border: solid;
    border-color: rgb(255, 255, 255);
    border-radius: 4px;
    cursor: pointer;
}

h2#logintitle {
    font-size: 40px;
    border: solid;
    border-color: rgb(255, 255, 255);
    border-radius: 4px;
    padding: 20px;
}

div#comments {
    margin: 40px;
}

div.comment {
    margin-bottom: 15px;
    padding: 7px;
    border: solid;
    border-color: rgb(255, 255, 255);
    border-radius: 4px;
    width: fit-content;
    background-image: url('../images/postbackground.png');
    background-size: auto;
    background-color: #000000;
}

textarea, input {
    width: fit-content;
    padding: 10px;
    border: solid;
    border-color: rgb(29, 29, 29);
    border-radius: 4px;
    background-color: #646464;
}

