body {
    font-family: Arial, sans-serif; /* Font for the entire page */
    background-color: #000000; /* Light gray background */
    color: white;
}

nav {
    background-color: gray; /* Background color of the nav */
    padding: 20px; /* Padding around the nav */
    border-radius: 4px;
    margin-bottom: 10px;
}

nav ul {
    display: flex; /* Use flexbox layout */
    justify-content: space-between; /* Space between items */
    align-items: center; /* Center items vertically */
    list-style-type: none; /* Remove bullet points */
    margin: 0;
    margin-right: 20px; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

nav ul li {
    margin-left: 20px; /* Space between items */
}

nav ul li a#logout {
    color: red;
}

nav ul li a {
    color: white; /* Text color */
    text-decoration: none; /* Remove underline */
    padding: 8px;
    background-color: darkgrey;
    border-radius: 3px;
}
nav ul li a:hover {
    background-color: lightgrey; /* Change background on hover */
    color: black; /* Change text color on hover */
}
/* Optional: Style for the home button */
li#home {
    margin-right: auto; /* Pushes the rest of the items to the right */
    font-size: 2em;

}

a#post {
    text-decoration: none;
    color: white;
}

a#delete {
    text-decoration: none;
    padding: 3px;
    border-radius: 3px;
    background-color: rgb(138, 0, 0);
    color: red;
}

div.post {
    padding: 30px;
    border: 5px;
    border-color: rgb(28, 170, 90);
    border-radius: 3px;
    border-style: solid;
    margin: 20px;
}

div#post-page {
    padding: 30px;
    border: 5px;
    border-color: rgb(28, 170, 90);
    border-radius: 3px;
    border-style: solid;
    margin: 20px;
}