<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Forum{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <header id="header">
        <nav>
            <ul>
                <li id="home"><a href="/">Home</a></li>
                {% if session.get('userid') %}
                    <li><span>Tervetuloa, {{ session.get('username') }}!</span></li>
                    <li><a href="/search">Haku</a></li>
                    <li><a href="/user/{{ session.get('userid') }}">Käyttäjäsivu</a></li>
                    <li><a href="/create-post">Luo postaus</a></li>
                    <li><a href="/logout" id="logout">Kirjaudu ulos</a></li>
                {% else %}
                    <li><a href="/search">Haku</a></li>
                    <li><a href="/login">Kirjaudu</a></li>
                    <li><a href="/register">Luo käyttäjä</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        <!-- Default content can go here -->
        {% endblock %}
    </main>
</body>
</html>
