{% extends 'base.html' %}

{% block title %}Edit post '{{ post.get('title') }}'{% endblock %}

{% block content %}
<div>
  <div id="post-page">
    <form action="/edit/{{ post.get('postid') }}" method="post">
        <h1>Title</h1>
        <br>
        <input type="text" name="title" value="{{ post.get('title') }}" required maxlength="150"></input>
        <br>
        <h2>Content</h2>
        <br>
        <textarea name="content" rows="5" cols="40" required maxlength="500" >{{ post.get('content') }}</textarea>
        <br><br>
        <input type="hidden" name="csrf_token" value="{{ session.get('csrf_token') }}">
        <input type="submit" value="Päivitä postaus">
    </form>
  </div>
  <footer><p>{{ post.get('timestamp') }}</p></footer>
</div>
{% endblock %}