{% extends 'base.html' %}

{% block title %}{{ post.get('title') }}{% endblock %}

{% block content %}
<div>
  <div id="post-page">
    <h1>{{ post.get('title') }}</h1>
    <p>{{ post.get('content') }}</p>
    {% if session.get('userid') == post.get('userid') %}
        <a href="/delete-post/{{ post.get('postid') }}" id="delete">Poista postaus</a>
        <a href="/edit/{{ post.get('postid') }}" id="edit">Muokkaa postausta</a>
    {% endif %}
    <p>{{ post.get('timestamp') }}</p>
  </div>
  <div id="comments">
    <h2>Keskustelu</h2>
    {% if session.get('userid') %}
    <form action="/post/{{ post.get('postid') }}" method="post">
        <textarea name="comment" rows="4" cols="50"></textarea>
        <br><br>
        <input type="submit" value="Lähetä kommentti">
    </form>
    {% endif %}
    <br>
    {% for comment in comments %}
      <div class="comment">
        <p>{{ comment.get('username') }}: {{ comment.get('content') }}</p>
        <p>{{ comment.get('timestamp') }}</p>
      </div>
    {% else %}
      <p>Ei kommentteja.</p>
    {% endfor %}
  </div>
</div>
{% endblock %}