{% extends 'base.html' %}

{% block title %} Haku {% endblock %}

{% block content %}
    <div>
        <form action="/search" method="get">
            <p>
            Hakusana:
            {% if query %}
            <input type="text" name="query" value="{{ query }}" />
            {% else %}
            <input type="text" name="query" />
            {% endif %}
            </p>
            <input type="submit" value="Hae" />
        </form>
    </div>

    {% if query %}
    <hr />
    <h2>Tulokset</h2>

    {% for result in results %}
        <a href="/post/{{ result.get('postid') }}" id="post">
            <div class="post">
                <h3>{{ result.get('title') }}</h3>
                <p>{{ result.get('content') }}</p>
                <p>{{ result.get('timestamp') }}</p>
            </div>
        </a>
    {% endfor %}
    {% endif %}
{% endblock %}