{% extends 'base.html' %}

{% block title %}Profiili{% endblock %}

{% block content %}
  <div>
    <h1>Käyttäjän {{ user.get('username') }} profiili</h1>
    <p>Käyntiä: {{ stats.get('visits') }} | Tykkäyksiä: {{ stats.get('likes') }}</p>
    <form action="{{ url_for('like_user', userid=user.get('userid')) }}" method="post">
      <button type="submit">Tykkää profiilista</button>
    </form>
  </div>

  <div>
    <h2>Postaukset</h2>
    {% for post in posts %}
      <a href="/post/{{ post.get('postid') }}" id="post">
        <div class="post">
          <h3>{{ post.get('title') }}</h3>
          <p>{{ post.get('content') }}</p>
          <p>{{ post.get('timestamp') }}</p>
          {% if session.get('userid') == post.get('userid') %}
          <div id ="post-actions">
              <a href="/delete-post/{{ post.get('postid') }}" id="delete">Poista postaus</a>
              <a href="/edit/{{ post.get('postid') }}" id="edit">Muokkaa postausta</a>
          </div>
          {% endif %}
        </div>
      </a>
    {% else %}
      <p>Ei postauksia.</p>
    {% endfor %}
  </div>

{% endblock %}